# Ignore dev files
*.py
*.pyc
*.md
__pycache__/
.DS_Store

# Ignore data dumps
lines_files/
lines.mhtml
lines_*.txt
xcms_*.html
*.json
*.json.gz

# Keep setup text
!images/SETUP.txt


BUSINESS_PLAN.txt
INFRASTRUCTURE.txt
SUBSELER_EMAILS.txt
CONTACT.html
CONTACT_files/
email.txt
email_drafts/
all users admins reseller subsellers etc.txt
g2g screenshot/
emailssent.txt
MASTER_PITCH.txt

DL_Mag_IPTV_Partnership_Pitch.pdf
landing_page.html
storefront.html
xcms_app.js
DLIPTVET/
